@use "vendors"; // Third party code
@use "utils"; // SASS mixins, functions, variabels
@use "base"; // Resets, custom properties and base styles
@use "layout"; // global layout elements
@use "components"; // reusable components; buttons
@use "modules"; // Specific module-styles

@layer reset, base, components;
