@use "base"; // Resets, base styles and custom properties
@use "globals"; // global elements; header, footer, nav
@use "components"; // Reusable components; buttons etc
@use "modules"; // Styles per module