// Tell me what you want, what you really, really want.. 12 even columns.

// .example-grid {
//   display: grid;
//   gap: 2rem;
//   grid-template-columns: 2fr;
//   @include for-tablet-landscape-up {
//     grid-template-columns: repeat(6, minmax(0, 1fr));
//   }
//   @include for-desktop-up {
//     grid-template-columns: repeat(12, minmax(0, 1fr));
//   }
// }
